.main-page-content{
	display: none;
}
.login-page-content{
	display: none;
}
.home-page-content{
	display: none;
}
.history-page-content{
	display: none;
}
.prediction-page-content{
	display: none;
}
